body {
    font-family: monospace;
    padding: 20px;
    background-color: white;
    font-size: 50px;
}

#resultat {
    text-align: center;
}

#resultat div {
    margin: 5px 0;
}

h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
}